---
import '../../styles/main.css'
import XahauFeaturesEs from '../../components/XahauFeaturesEs.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'

const _frontmatter = {
  title: 'Características',
  description: 'Tecnología probada con un enfoque renovado',
}
---

<BaseLayout frontmatter={_frontmatter}>
  <div class="page-content flex-1 container mx-auto max-w-7xl p-6">
    <XahauFeaturesEs />
  </div>
</BaseLayout>
